{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base",
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {},
    "ecmaVersion": 6
  },
  "globals": {
    "DEPENDENCIES": false,
    "VERSION": false
  },
  "plugins": [],
  "rules": {
    "class-methods-use-this": 0,
    "function-paren-newline": ["error", "consistent"],
    "no-bitwise": 0,
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "prefer-destructuring": 0
  }
}
